ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: #ffffff;
  overflow: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #ec1313;
  color: white;
}

li a:hover:not(.active) {
  background-color: #ff8000;
  color: white;
}

.column {
  float: left;
  width: 33%;
  padding: 2px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
